* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 1200px;
  background-color: red;
}

.box {
  width: 200px;
  height: 200px;
  border: 2px solid red;
  background-color: grey;
}

.box1 {
  background-color: yellow;
}
.box2 {
  background-color: orange;
  position: fixed;
}

header {
  background-color: black;
  height: 50px;
  width: 100%;
  position: fixed;
}
