* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --cor-primaria: #ff6311;
  --cor-secundaria: #2c2b2b;
  --espacamento: 0px 15px;
}

header {
  background-color: var(--cor-secundaria);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
